In [1]:
tuple1 = (0, 1, 2, 3)
tuple2 = ("A", "B", "C")
tuple3 = (tuple1, tuple2)
print(tuple3) # ((0, 1, 2, 3),("A", "B", "C"))
print(tuple3[0]) # (0, 1, 2, 3)
print(tuple3[1]) # ("A", "B", "C")
print(tuple3[1][0]) # A

((0, 1, 2, 3), ('A', 'B', 'C'))
(0, 1, 2, 3)
('A', 'B', 'C')
A

In [2]:
tup1 = ("A", "B", "C", "E")
tup2 = (1, 2, 3, 4, 5)
tup3 = tup1 + tup2
print(tup3) 
# ("A", "B", "C", "E", 1, 2, 3, 4, 5) - A
# (("A", "B", "C", "E"), (1, 2, 3, 4, 5)) - B

('A', 'B', 'C', 'E', 1, 2, 3, 4, 5)

In [3]:
tup2 = (1, 2, 3, 4, 5)
tup3 = tup2 * 3
print(tup3)
tup4 = ("Abc", "Bcd")
tup5 = tup4 * 2
print(tup5)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
('Abc', 'Bcd', 'Abc', 'Bcd')

In [4]:
tup6 = tup2*0
print(tup6)

()

In [5]:
print(("Rojas", 123) < ("Rosas", 123))

True

In [6]:
print(("Rosas", 123) == ("rosas", 123))

False

In [7]:
print(("Rosas", 123) > ("Rosas", 23))

True

In [8]:
print(("Rojas", "123") > ("Rosas", 23))

False

In [9]:
print(("Rosas", "123") > ("Rosas", 23))

TypeError: '>' not supported between instances of 'str' and 'int'

In [10]:
print(("Rosas",) < ("Rosas", 23))

True

In [11]:
avengers = ("Ironman", "Thor", "Ant-man", "Hulk")
print(avengers[0]) # Ironman
print(avengers[3]) # Hulk
print(avengers[-1]) # Hulk
print(avengers[-3]) # Thor

Ironman
Hulk
Hulk
Thor

In [12]:
text = ("cien", "años", "de", "soledad")
if "años" in text: print("Si está en la tupla")
else: print("No está en la tupla")

Si está en la tupla

In [13]:
s = ("hola", "amigos", "mios")
for palabra in s: # para cada palabra de la tupla
  print(palabra, end = ", ")

hola, amigos, mios,

In [14]:
print(", ".join(s))

hola, amigos, mios

In [16]:
tupla = (1, -2, 3)
a, _, c = tupla
print("a =", a)
# print("b =", b)
print("c =", c)

a = 1
c = 3

In [17]:
a = 1
b = 3
a, b = b, a
print("a =", a)
print("b =", b)

a = 3
b = 1

In [18]:
a = 1
b = 3
aux = b
b = a
a = aux 
print("a =", a)
print("b =", b)

a = 3
b = 1

In [20]:
tupla = (11, 9, -2, 3, 8, 5)
var1, var2, var3 = (tupla[i] for i in (1, 3, 5))
print("var1 =", var1, ", var2 =", var2, ", var3 =", var3)
var1, var2, var3 = (tupla[i] for i in range(0,6,2))
print("var1 =", var1, ", var2 =", var2, ", var3 =", var3)

var1 = 9 , var2 = 3 , var3 = 5
var1 = 11 , var2 = -2 , var3 = 8

In [25]:
l = input("Ingrese los números separados por espacios: ")
print(l)
print(l.split())
numList = []
for j in l.split():
  numList.append(float(j))
print(numList)
numeros = [float(i) for i in l.split()]
print(numeros)

1 2 3
['1', '2', '3']
[1.0, 2.0, 3.0]
[1.0, 2.0, 3.0]

In [28]:
def minmax(a, b):
  if a < b:
    return a, b
  else:
    return b, a

if __name__ == "__main__":
  x, y = minmax(5, 13)
  print(x, y)

5 13

In [29]:
tup = (1, 2, 3, 4)
nombre = ("Minch", "Yoda")
trabajo = ("Stars", "War", "Movie")
empty = ()
print(len(tup)) # 4
print(len(nombre)) # 2
print(len(trabajo)) # 3
print(len(empty)) # 0

4
2
3
0

In [30]:
avengers = ("Ironman", "Thor", "Ant-man", "Hulk")
print(avengers[:2]) #  1 - 2
print(avengers[1:3]) # 2 - 3
print(avengers[3:3]) # 4 - ()
print(avengers[::-1]) # 4 - 3 - 2 - 1

('Ironman', 'Thor')
('Thor', 'Ant-man')
()
('Hulk', 'Ant-man', 'Thor', 'Ironman')

In [31]:
tupla = (4, 3, 8, 8, 2, 5, 4, 6, 8, 9)
print(tupla.count(2)) # 1
print(tupla.count(8)) # 3
print(tupla.count(5)) # 1
print(tupla.count(7)) # 0

1
3
1
0

In [33]:
tupla = (4, 3, 8, 8, 2, 5, 4, 6, 8, 9)
print(tupla.index(2)) # 4
print(tupla.index(8)) # 2
print(tupla.index(5)) # 5
print(tupla.index(7))

4
2
5

ValueError: tuple.index(x): x not in tuple

In [34]:
t = (4, 5, -1, 6, 7)
print(max(t)) # 7
print(min(t)) # -1

7
-1

In [36]:
t = ("b", "a", "ab")
print(max(t))
print(min(t))

b
a

In [37]:
magician = "Dumbledore"
tm = tuple(magician)
print(tm)

('D', 'u', 'm', 'b', 'l', 'e', 'd', 'o', 'r', 'e')

In [38]:
magician = "Dumbledore"
tm = list(magician)
print(tm)

['D', 'u', 'm', 'b', 'l', 'e', 'd', 'o', 'r', 'e']

In [41]:
tup1 = (1, 2, 3)
a, b, _ = tup1
print("a:", a, "b:", b)

a: 1 b: 2

### Archivos

In [43]:
s = '''
But soft what light through yonder window breaks
It is the east and Juliet is the sun
Arise fair sun and kill the envious moon
Who is already sick and pale with grief
'''
print(s)

But soft what light through yonder window breaks
It is the east and Juliet is the sun
Arise fair sun and kill the envious moon
Who is already sick and pale with grief

In [78]:
file = open('romeo.txt')

In [53]:
print(file)

<_io.TextIOWrapper name='romeo.txt' mode='r' encoding='cp1252'>

In [77]:
print(file.read())

        But soft what light through yonder window breaks
It is the east and Juliet is the sun
        Arise fair sun and kill the envious moon
Who is already sick and pale with grief

In [74]:
sRead = file.read()
print(sRead)

But soft what light through yonder window breaks
It is the east and Juliet is the sun
Arise fair sun and kill the envious moon
Who is already sick and pale with grief

In [88]:
file = open('romeo.txt', "r")
lin : int = 1
for line in file.readlines():
  print("Linea " + str(lin) + ": " + line.upper().lstrip().replace(" ", ""), end="")
  lin += 1
file.close()

Linea 1: BUTSOFTWHATLIGHTTHROUGHYONDERWINDOWBREAKS
Linea 2: ITISTHEEASTANDJULIETISTHESUN
Linea 3: ARISEFAIRSUNANDKILLTHEENVIOUSMOON
Linea 4: WHOISALREADYSICKANDPALEWITHGRIEF

In [75]:
print(sRead.find("kill"))

105